{% extends 'base.html.twig' %}

{% block title %}Tasknest - Sign up!
{% endblock %}


{% block body %}
	<main>
		<header class="login-gif site-header">
			<div class="container">
				<h2 class="text-white">Welcome to TASKNEST</h2>
				<h6 class="text-white">Start your adventure</h6>
			</div>
		</header>
		<style>
			.custom-label {
				color: blue!important;
			}
		</style>

		<section class="explore-section section-padding" id="section_2">
			<div class="container">
				<div class="row">
					<div class="container">
						<div class="col-lg-6 ">
							<div class="custom-form" id="signup-form">
								{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
								<div class="margin-inputs xx">
									<div class="xx form-floating label-width">
										{{ form_widget(form.fname,{'attr':{'class':'form-control'}}) }}
										<label class="custom-label" for="floatingInput">First Name</label>
									</div>
									<div class="xx form-floating label-width">
										{{ form_widget(form.lname,{'attr':{'class':'form-control'}}) }}

										<label class="custom-label" for="floatingInput">Last Name</label>
									</div>
								</div>
								<div class="margin-inputs xx">
									<div class="xx form-floating label-width">
										{{ form_errors(form.fname, {'attr':{'class':'form-control'}})}}
									</div>

									<div class="xx form-floating label-width">
										{{ form_errors(form.lname) }}
									</div>
								</div>
								<div class="margin-inputs xx">
									<div class="xx form-floating label-width">
										{{ form_widget(form.birthdate, {'attr': {'class': 'form-control'}}) }}
										<label class="custom-label" for="floatingInput" class="birthdate-label">Date Of Birth</label>
									</div>
									<div class="label-width xx form-floating">
										{{ form_widget(form.phonenumber,{'attr':{'class':'form-control'}}) }}
										<label class="custom-label" for="floatingInput">Phone number</label>
									</div>
								</div>
								<div class="margin-inputs xx">
									<div class="xx form-floating label-width">
										{{ form_errors(form.birthdate, {'attr':{'class':'form-control'}})}}
									</div>

									<div class="xx form-floating label-width">
										{{ form_errors(form.phonenumber) }}
									</div>
								</div>

								<div class="margin-inputs form-floating">
									{{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
									{{ form_errors(form.email) }}
									<label class="custom-label" for="floatingInput">Email Adress</label>
								</div>
								<div class="margin-inputs form-floating">
									{{ form_widget(form.image,{'attr':{'class':'form-control'}}) }}

									<label class="custom-label" for="floatingInput">Profile image</label>
								</div>
								<div class="margin-inputs form-floating">
									{{ form_widget(form.password.first,{'attr':{'class':'form-control'}}) }}
									{{ form_errors(form.password.first) }}
									<label class="custom-label" for="floatingInput">Password</label>
								</div>
								<div class="margin-inputs form-floating">
									{{ form_widget(form.password.second,{'attr':{'class':'form-control'}}) }}
									{{ form_errors(form.password.second) }}
									<label class="custom-label" for="floatingInput">Confirm Password</label>
								</div>
								<div class="margin-inputs label-width1">
									<button type="submit" class="form-control">Submit</button>
								</div>

								<div class="create-account-text">
									<a href="{{ path('app_signin') }}">
										<p>Already have an account?</p>
									</a>
								</div>
								{{ form_end(form) }}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>


	<footer class="site-footer section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="index.html">
                        <i class=""></i>
                    <img src="{{asset('images/tasknest1.png')}}" alt="Tasknest Logo" style="width: 300px; height: auto;">
                </a>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Resources</h6>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item" style="margin-top: 20px;">
                            <a href="#" class="site-footer-link">Home</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="" class="site-footer-link">Freelancers</a>
                        </li>
                    
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">FAQs</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Information</h6>
                    <p class="text-white d-flex mb-1" style="margin-top: 20px;">
                        <a href="tel: 28-899-812" class="site-footer-link">
                            28-899-812
                        </a>
                    </p>
                    <p class="text-white d-flex">
                        <a href="mailto:TaskNest@gmail.com" class="site-footer-link">
                            TaskNest@gmail.com
                        </a>
                    </p>
                </div>
                
                

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                   

                    <p class="copyright-text mt-lg-5 mt-4">Copyright © 2024 Freelancing Center. All rights reserved.
                    <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TechTitans</a> Distribution <a href="https://themewagon.com"></a></p>
                    
                </div>

            </div>
        </div>
    </footer>
</main>{% endblock %}
