<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TaskNest{% endblock %}</title>
        <link rel="icon" href="images/tasknest1.png">
        {% block stylesheets %}
            <link rel="stylesheet" href="/_next/static/css/d86cfa61a4822fe0.css" data-n-g=""/>

        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('js/next.config.js')}}"></script>
            <script src="{{asset('js/sub-components/index.js')}}"></script>
            <script src="{{asset('js/sub-components/billing/BillingAddress.js')}}"></script>
            <script src="{{asset('js/sub-components/billing/CurrentPlan.js')}}"></script>
            <script src="{{asset('js/sub-components/changelog/Version_01_00_00.js')}}"></script>
            <script src="{{asset('js/sub-components/dashboard/ActiveProjects.js')}}"></script>
            <script src="{{asset('js/sub-components/dashboard/TasksPerformance.js')}}"></script>
            <script src="{{asset('js/sub-components/dashboard/Teams.js')}}"></script>
            <script src="{{asset('js/sub-components/profile/AboutMe.js')}}"></script>
            <script src="{{asset('js/sub-components/profile/ActivityFeed.js')}}"></script>
            <script src="{{asset('js/sub-components/profile/MyTeam.js')}}"></script>
            <script src="{{asset('js/sub-components/profile/ProfileHeader.js')}}"></script>
            <script src="{{asset('js/sub-components/profile/ProjectsContributions.js')}}"></script>
            <script src="{{asset('js/sub-components/profile/RecentFromBlog.js')}}"></script>
            <script src="{{asset('js/sub-components/settings/DeleteAccount.js')}}"></script>
            <script src="{{asset('js/sub-components/settings/EmailSetting.js')}}"></script>
            <script src="{{asset('js/sub-components/settings/GeneralSettings.js')}}"></script>
            <script src="{{asset('js/sub-components/settings/Notifications.js')}}"></script>
            <script src="{{asset('js/sub-components/settings/Prefrences.js')}}"></script>
            <script src="{{asset('js/widgets/index.js')}}"></script>
            <script src="{{asset('js/widgets/')}}"></script>
            <script src="{{asset('js/widgets/')}}"></script>
            <script src="{{asset('js/widgets/')}}"></script>
            <script src="{{asset('js/widgets/')}}"></script>
            <script src="{{asset('js/widgets/')}}"></script>
            <script src="{{asset('js/widgets/')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
